<div class="p-2 flex">
  <button
    id="bold"
    class="
      h-7
      w-7
      flex
      items-center
      justify-center
      border-none
      rounded-md
      hover:text-white hover:bg-black
    "
    (click)="editor.chain().focus().toggleBold().run()"
      [ngClass]="{ 'text-white b  g-black': this.editor.isActive('bold') }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="20"
      height="20"
      fill="currentColor"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        d="M8 11h4.5a2.5 2.5 0 1 0 0-5H8v5zm10 4.5a4.5 4.5 0 0 1-4.5 4.5H6V4h6.5a4.5 4.5 0 0 1 3.256 7.606A4.498 4.498 0 0 1 18 15.5zM8 13v5h5.5a2.5 2.5 0 1 0 0-5H8z"
      />
    </svg>
  </button>
  <button
    id="italic"
    class="
      ml-1
      h-7
      w-7
      flex
      items-center
      justify-center
      border-none
      rounded-md
      hover:text-white hover:bg-black
    "
    (click)="editor.chain().focus().toggleItalic().run()"
    [ngClass]="{ 'text-white bg-black': this.editor.isActive('italic') }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="20"
      height="20"
      fill="currentColor"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M15 20H7v-2h2.927l2.116-12H9V4h8v2h-2.927l-2.116 12H15z" />
    </svg>
  </button>
</div>
